:root {
  --grey: #A1A1AA;
}

hr {
  margin-top: 0;
}

input,
textarea {
  font-family: Consolas, "Courier New", monospace;
}

.form-label {
  font-weight: bold;
  display: block;
}

.form-box-label {
  font-weight: bold;
}

.btn-fat {
  padding: .375rem .75rem;
  /* border-radius: .25rem; */
}

.form-textinput-fat {
  line-height: 1.5;
  padding: .375rem .25rem;
  margin-bottom: 0;
  display: block;
  width: 95%;
}

.form-textarea {
  margin-bottom: 0;
  resize: vertical;
}

.form-text {
  font-size: .75em;
}

.alert {
  font-size: .75em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.text-large {
  font-size: large;
}

.pl-2 {
  padding-left: 0.5rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-5 {
  margin-right: 3rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mb-5 {
  margin-bottom: 3rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.alert-danger {
  color: #e64980;
}

.alert-success {
  color: #0ca678;
}

.alert-primary {
  color: black;
}

.alert-info {
  color: blue;
}

.text-grey,
.form-text {
  color: var(--grey);
}

.NaviLinks a {
  margin-left: 0.75rem;
}

.SearchInput {
  width: 50%;
  line-height: 1.5;
  padding: .375rem .25rem;
}

.PoemItem {
  margin-bottom: 1.5rem;
}

.PoemIdTime {
  font-size: small;
  color: var(--grey);
}

.PoemTitle {
  font-weight: bold;
}

.EditBtn,
.CopyBtn {
  color: var(--grey);
  font-size: small;
  margin-left: 0.5rem;
}

.MoveBtn,
.DelBtn {
  color: black;
  margin-left: 1rem;
}

.PoemStiches {
  margin-top: 0;
  margin-bottom: 0;
}

.HistoryArea > a {
  color: var(--grey);
  margin-left: 1rem;  
}

.HistoryItems {
  display: inline-block;
}

.HistoryItems > a {
  color: var(--grey);
  margin-left: 0.5rem;
  display: inline-flex;
  flex-wrap: wrap;
}

.TitleList {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  row-gap: 20px;
  column-gap: 30px;
}

.TitleItem {
  color: #FEFEFE;
  background-color: var(--grey);
  padding: .35em .65em;
  display: inline-block;
  cursor: pointer;
}

.PostBtnArea {
  width: 95%;
  text-align: right;
}

.Loading {
  font-weight: bold;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
